$main-color: #128C7E;

.btn{
    background-color: $main-color;
}
.app-login-body {
    background-color: $main-color;
    height: 100%;
    width: 100%;
    .container {
        max-width: 50%;
        border: 1px solid black;
        padding: 0.5rem;
        border-radius: 25px;
        position: absolute;
        top: 20%;
        left: 26%;
        background-color: white;
    }
}
